<!--瑞希教育网站首页的内容,layout文件home_page_ruixi_layout.html.erb-->

<div class='contain-to-grid sticky transparent'>
  <nav class='top-bar onepage' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='index.html'>
            RuiXi
          </a>
        </h1>
      </li>
    </ul>
    <% if nil %>
        <div class="menu-toggler right">
          <a href='#'>
            <i class="fa fa-bars"></i>
          </a>
        </div>
    <% end %>
  </nav>
</div>

<header class=" ">
  <div class='contain-to-grid sticky transparent'>
    <nav class='top-bar onepage' data-options='sticky_on: large' data-topbar=''>
      <ul class='title-area'>
        <li class='name'>
          <h1>
            <a href='index.html'>
              RuiXi
            </a>
          </h1>
        </li>
      </ul>

      <% if nil %>
          <div class="menu-toggler right">
            <a href='#'>
              <i class="fa fa-close"></i>
            </a>
          </div>
      <% end %>

    </nav>
  </div>
  <div class="four spacing"></div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="centered-text menu">
        <li class='active'>
          <a class="" href='index.html'>Home</a>
          <ul class="sub-menu">
            <li><a class="" href="index.html">Home 1</a></li>
            <li><a class="" href="index-2.html">Home 2</a></li>
            <li><a class="" href="index-3.html">Home 3</a></li>
          </ul>
        </li>
        <li>
          <a class="" href='about.html'>About</a>
        </li>
        <li class=''>
          <a class="" href='works.html'>Works</a>
        </li>
        <li class=''>
          <a class="" href='blog.html'>Blog</a>
        </li>
        <li class=''>
          <a class="" href='contact.html'>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>


<div class="full no-padding video-bg no-overflow fullscreen-header top-shift">
  <div class="touch-video-image" style="background-image: url(/homepage/images/@stock/touch-video-image.jpg);">
  </div>
  <video autoplay='autoplay' class="no-overflow" id='fullscreen-video' loop='loop' muted='muted' poster="/homepage/images/@stock/touch-video-image.jpg">
    <source src='/homepage/images/@stock/design.mp4' type='video/mp4'>
  </video>
  <div class="home-overlay"></div>
  <div class="header-intro centered-text">
    <h1 class="wow slideInUp">RuiXi</h1>
    <p class="sub-title wow slideInDown"><%= @school_name%></p>
  </div>
</div>

<div class="full">
  <div class="row">

    <div class="large-2 columns">
      <div class="icon-text-circle wow fadeInLeft" data-wow-delay="0.5s">
        <i class="icon-basic-hammer"></i>
        <h4>课程</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsum deleniti, animi dolore quam temporibus expedita consectetur in voluptate fugiat.</p>
      </div>
    </div>

    <div class="large-1 columns">
      <i class="icon-arrows-slim-right-dashed arrow wow fadeInLeft" data-wow-delay="0.8s"></i>
      <i class="icon-arrows-slim-down-dashed arrow down wow fadeInLeft" data-wow-delay="0.8s"></i>
    </div>


    <div class="large-2 columns">
      <div class="icon-text-circle wow fadeInLeft" data-wow-delay="0.9s">
        <%= link_to lecturers_intro_path do %>
            <i class="icon-basic-hammer"></i>
        <% end %>
        <h4>师资</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsum deleniti, animi dolore quam temporibus expedita consectetur in voluptate fugiat.</p>
      </div>
    </div>
    <div class="large-1 columns">
      <i class="icon-arrows-slim-right-dashed arrow wow fadeInLeft" data-wow-delay="1.2s"></i>
      <i class="icon-arrows-slim-down-dashed arrow down wow fadeInLeft" data-wow-delay="1.2s"></i>
    </div>

    <div class="large-2 columns">
      <div class="icon-text-circle wow fadeInLeft" data-wow-delay="1.3s">
        <i class="icon-basic-hammer"></i>
        <h4>案例</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsum deleniti, animi dolore quam temporibus expedita consectetur in voluptate fugiat.</p>
      </div>
    </div>
    <div class="large-1 columns">
      <i class="icon-arrows-slim-right-dashed  arrow wow fadeInLeft" data-wow-delay="1.6s"></i>
      <i class="icon-arrows-slim-down-dashed arrow down wow fadeInLeft" data-wow-delay="1.6s"></i>
    </div>
    <div class="large-2 columns">
      <div class="icon-text-circle wow fadeInLeft" data-wow-delay="1.7s">
        <i class="icon-basic-archive-full"></i>
        <h4>教学报告</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem aliquam, nemo ad dolor tempore cupiditate sunt aperiam accusamus, eligendi numquam!</p>
      </div>
    </div>
    <div class="large-1 columns">
    </div>
  </div>
</div>


<div class="full centered-text no-padding" style="background: #D2F8EB;">
  <div class="four spacing"></div>
  <div class="three spacing"></div>
  <div class="row">
    <div class="large-12 columns">
      <h2>成长大数据</h2>
      <p class="sub-title">Quick, creative, unique and effective</p>
      <div class="four spacing"></div>
    </div>
  </div>
  <div class="row">
    <div class='medium-6 large-3 columns '>
      <div class='milestone first centered-text'>
        <i class="icon-basic-paperplane wow slideInUp" style="color: #ff8635"></i>
        <div class='number' style='color: #333' data-from='0' data-to='69'>&nbsp;</div>
        <span style='color: #999'>Projects</span>
        <div class='spacing'></div>
      </div>
    </div>
    <div class='medium-6 large-3 columns '>
      <div class='milestone centered-text'>
        <i class="icon-basic-lightbulb wow slideInUp" style="color: #ff8635"></i>
        <div class='number' style='color: #333' data-from='0' data-to='726'>&nbsp;</div>
        <span style='color: #999'>Ideas</span>
        <div class='spacing'></div>
      </div>
    </div>
    <div class='medium-6 large-3 columns '>
      <div class='milestone centered-text'>
        <i class="icon-basic-flag1 wow slideInUp" style="color: #ff8635"></i>
        <div class='number' style='color: #333' data-from='0' data-to='10'>&nbsp;</div>
        <span style='color: #999'>Countries</span>
        <div class='spacing'></div>
      </div>
    </div>
    <div class='medium-6 large-3 columns '>
      <div class='milestone centered-text'>
        <i class="icon-basic-share wow slideInUp" style="color: #ff8635"></i>
        <div class='number' style='color: #333' data-from='0' data-to='287'>&nbsp;</div>
        <span style='color: #999'>Articles</span>
        <div class='spacing'></div>
      </div>
    </div>
  </div>
  <% if nil %>
      <ul class="images-overlap">
        <li class="image-1"><img src="/homepage/images/@stock/image-1.jpg" alt=""></li>
        <li class="image-2"><img src="/homepage/images/@stock/image-2.jpg" alt=""></li>
        <li class="image-3"><img src="/homepage/images/@stock/image-3.jpg" alt=""></li>
        <li class="image-4"><img src="/homepage/images/@stock/image-4.jpg" alt=""></li>
      </ul>
  <% end %>
</div>
<% if nil %>
    <div class="full" style="background: #ff8635;">
      <div class="row centered-text">
        <div class="large-12 columns">
          <h2 class="white">Main services</h2>
          <p class="sub-title white">We are ipsum dolor sit amet, consectetur adipisicing elit. </p>
          <div class="two spacing"></div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="icon-text-wrapper">

            <div class="large-4 columns">
              <a href="#" class="icon-text slideInUp">
                <i class="icon-basic-signs"></i>
                <h4>Branding</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </a>
            </div>
            <div class="large-4 columns">
              <a href="#" class="icon-text slideInUp">
                <i class="icon-basic-settings"></i>
                <h4>Development</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quae.
                </p>
              </a>
            </div>
            <div class="large-4 columns">
              <a href="#" class="icon-text slideInUp">
                <i class="icon-basic-webpage"></i>
                <h4>Web Design</h4>
                <p>
                  Necessitatibus beatae sint omnis, dolor nihil cumque debitis natus tenetur.
                </p>
              </a>
            </div>
            <div class="large-4 columns">
              <a href="#" class="icon-text slideInUp">
                <i class="icon-basic-pin2"></i>
                <h4>Marketing</h4>
                <p>
                  Tempore esse officiis autem, libero nostrum vero nihil, dolor.
                </p>
              </a>
            </div>
            <div class="large-4 columns">
              <a href="#" class="icon-text slideInUp">
                <i class="icon-basic-picture"></i>
                <h4>Print</h4>
                <p>
                  Necessitatibus beatae sint omnis, dolor nihil cumque debitis natus tenetur.
                </p>
              </a>
            </div>
            <div class="large-4 columns">
              <a href="#" class="icon-text slideInUp">
                <i class="icon-basic-heart"></i>
                <h4>Packaging</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
<% end %>
<div class="full centered-text no-overflow" style="background: #f3dfc5;">
  <div class="row">
    <div class="large-12 columns">
      <h2>教育特色</h2>
      <p class="sub-title">高效, 优质, 专业 </p>
      <div class="four spacing"></div>
    </div>
  </div>
  <div class="row">
    <% HomePageData.school_features.each_pair do |key ,value| %>
        <div class="large-6 columns">
          <div class="work">

            <img src="/homepage/images/@stock/work-1.jpg" alt="">
            <div class="info">
              <h3><%= key %></h3>
              <p><%= value %></p>
            </div>

          </div>
        </div>
    <% end %>
  </div>
  <div class="three spacing"></div>
  <a href="homepage/school_compare.html" class="button boxed black slideInUp">了解更多</a>
</div>
<% if nil %>
    <div class="full no-padding light" style="background: #333">
      <div class="four spacing"></div>
      <div class="three spacing"></div>
      <div class="row">
        <div class="large-6 columns">
          <h2 class="white">The process</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eaque labore reiciendis ea natus a explicabo at cum eius autem expedita sint, quae atque porro numquam est officiis! Hic, ipsa.</p>
          <div class="four spacing"></div>
        </div>
      </div>
    </div>
<% end %>

<% if nil %>
    <div class="full parallax light" style="background-image: url(/homepage/images/@stock/bottom-bg.jpg);">
      <div class="row centered-text">
        <div class="large-12 columns">
          <h1 class="white wow slideInUp">Like what you see?</h1>
          <p class="sub-title white wow slideInUp">A perfect creative theme for your next project.</p>
          <div class="four spacing"></div>
          <div><a href="#" class="button boxed">Purchase Now</a></div>
        </div>
      </div>
    </div>
<% end %>