<% exam_type = object[:exam_type] %>
<table class="ui celled collapsing table">
  <thead>
  <tr>
    <th>真实考试成绩</th>

    <th>入口成绩和期望成绩</th>

  </tr>
  </thead>

  <tbody>
  <tr>
    <td>
      <%= render 'real_scores/show', {
              exam_type_filter: exam_type,
              var_real_scores: @student.real_scores.send(exam_type.downcase).true_real} %>
    </td>
    <td>
      <%= render 'real_scores/show', {
              exam_type_filter: exam_type,
              var_real_scores: @student.real_scores.send(exam_type.downcase).entry_and_target_and_month_target} %>

    </td>

  </tr>

  <tr>
    <td>
      <% if current_user.can_set_student_info?(@student) %>
          <%= link_to "输入 #{exam_type} 真实考试成绩", set_real_scores_student_path(@student, exam_type: exam_type, score_type: 'true_real'), {class: 'ui green button'} %>

      <% end %>
    </td>
    <td>
      <% if current_user.can_set_student_info?(@student) %>
          <%= link_to "输入 #{exam_type}  入口成绩和目标成绩", set_entry_and_target_scores_student_path(@student, exam_type: exam_type, score_type: 'entry_and_target'), {class: 'ui green button'} %>

      <% end %>
    </td>

  </tr>
  </tbody>
</table>