

<div class="page-content page-thin">
  <%= render partial: 'shared/page_title_caption', object: "编辑 科目" %>
<%= render 'form' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
</div>