<div class="page-content page-thin">
  <%= render partial: 'shared/page_title_caption', object: '修改 试卷' %>

<%= render 'form' %>


<%= link_to '返回试卷列表', test_papers_path,{class:'ui blue button'} %>
</div>