<div class="page-content page-thin">
  <%= render partial: 'shared/page_title_caption', object: "新增#{@test_paper.exam_type} 试卷" %>

<%= render 'form' %>

<%= link_to '返回到试卷列表', test_papers_path ,{class: 'btn btn-primary'}%>
</div>