
th {
  vertical-align:middle;
  text-align:center;
}


fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  border: 0px groove threedface;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
}

td,th
{
  white-space: nowrap;
}
//用户照片预览区域的大小
img#image_photo_preview{
  width:150px;
  height: 150px;
}

//学员照片区域的大小
img.student_photo.middle.image{
  height:128px;
  width:128px;
}

img.photo.table_list{
  height: 64px;
  width: 64px;
}



body#home{
  margin: 0px 0px 0px 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



div {
  &.field, &.actions {
    margin-top: 10px !important;
    margin-bottom: 10px;
  }
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#example .container {
  width: auto;
  margin-left: 100px !important;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table {
  background-color: rgba(255, 255, 255, 0.6) !important;

}


th {
  text-align:center  !important;
}


.colored_content table:nth-child(1){
  background-color: #4c7dff !important;
}
.colored_content table:nth-child(2){
  background-color: #36c0ff !important;
}
.colored_content table:nth-child(3){
  background-color: #2fffd0 !important;
}
.colored_content table:nth-child(4){
  background-color: #a0ff52 !important;
}
.colored_content table:nth-child(5){
  background-color: #dbff3c !important;
}
.colored_content table:nth-child(6){
  background-color: #ffd443 !important;
}
.colored_content table:nth-child(7){
  background-color: #FDD !important;
}

