<div class="page-content page-thin">
  <%= render partial: 'shared/page_title_caption', object: "创建培训班#{@training_class.name } 的模拟考 " %>

<%= render 'form' %>

<%= link_to '返回到班级模考 列表', training_class_examinations_path(@training_class),{class: 'ui blue button'} %>
</div>