<!doctype html>
<!--landing page 首页 瑞希教育-->
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= @school_name %></title>
  <link rel="stylesheet" href="/homepage/css/app.css" />
  <link rel="stylesheet" href="/homepage/css/style.css" />
  <link rel="stylesheet" href="/homepage/css/responsive.css" />
  <link href="/homepage/css/animate.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/homepage/css/linea-styles.css" />
  <link rel="stylesheet" href="/homepage/css/linea-arrows-styles.css" />
  <link rel="stylesheet" href="/homepage/css/font-awesome.css" />
  <link rel="stylesheet" href="/homepage/css/levirebrushed.css" />
  <!--<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>-->
  <!--<link href='http://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>-->
  <script src="/homepage/bower_components/modernizr/modernizr.js"></script>
  <style>
      .work .info p {
          padding: 10px;
          text-align: left;
          font-size: 16px;
          color: #4C6F8B;
          top: 50%;
          position: relative;
      }
      .work .info, .work img{
          border-radius: 20px;
      }
  </style>
</head>
<body>

<%= yield %>


<div class="full footer" style="background: #222">
  <div class="row">
    <div class="large-6 columns">
      <ul class="socials bounceInDown">
        <li><a href="#"><i class='fa fa-twitter'></i></a></li>
        <li><a href="#"><i class='fa fa-facebook'></i></a></li>
        <li><a href="#"><i class='fa fa-linkedin'></i></a></li>
        <li><a href="#"><i class='fa fa-dribbble'></i></a></li>
        <li><a href="#"><i class='fa fa-youtube'></i></a></li>
      </ul>
    </div>
    <div class="large-6 columns">
      <ul>
        <li>四川省成都市锦江区 &nbsp;&nbsp;滨江西路8号</li>
        <li>世代锦江凯旋门 &nbsp;&nbsp;一栋一单元17楼3号</li>
        <li>028-85065833       </li>
        <li>18683614475（Cathy刘）</li>
      </ul>
      <p>©2015</p>
    </div>

  </div>
</div>






<script src="/homepage/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/homepage/bower_components/foundation/js/foundation.min.js"></script>
<script src="/homepage/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/homepage/bower_components/countto/jquery.countTo.js"></script>
<script src="/homepage/bower_components/appear/jquery.appear-min.js"></script>
<script src="/homepage/js/app.js"></script>
<script src="/homepage/js/wow.min.js"></script>
</body>
</html>
